.app {
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
}

.navbar-sidebar {
  display: flex;
  position: fixed;
  height: 100vh;
  overflow: hidden;
}

.song-app-container {
  margin-left: 300px;
  overflow-y: auto;
  height: 100vh;
  padding-top: 100px;
}

@media (max-width: 768px) {
  .song-app-container {
    margin-left: 0;
    padding-top: 80px;
  }
}
